<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Victor Lourenço">
		
		<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
		
		<title>Academy</title>
	</head>
	<body>
		
		<header>

			<nav class="navbar navbar-expand-lg bg-dark">
				<div class="container-fluid">
				  <a class="navbar-brand" href="#">
					<img src="https://img.icons8.com/external-itim2101-lineal-color-itim2101/344/external-student-online-learning-itim2101-lineal-color-itim2101-4.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
					
				  </a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-taget="#navMobile">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div id="navMobile" class="navbar-collapse collapse justify-content-end">
				  <ul class="nav justify-content-end">
					<li class="nav-item">
					  <a class="nav-link active" aria-current="page" href="#">Home</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">Cadastrar Aluno</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">Pesquisar Aluno</a>
					</li>
					
				  </ul>

				</div></div>

				

			  </nav>
			<!-- <nav class="navbar navbar-expand-lg navbar-dark">
				<a class="navbar-brand" href="#">
					<img src="img/coruja-academy"/>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-taget="#navMobile">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div id="navMobile" class="navbar-collapse collapse">

					<a class="nav-item nav-item">Home</a>
					<a class="nav-item nav-item">Cadastrar Aluno</a>
					<a class="nav-item nav-item">Pesquisar Aluno</a>
					<a class="nav-item nav-item">Sair</a>

				</div>
			</nav> -->
		</header>
		
		
		
		<script src="/webjars/jquery/3.6.1/jquery.min.js"></script>
		<script src="/webjars/bootstrap/js/bootstrap.min.js"></scripts>
	</body>
</html>