<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Victor Lourenço">
		
		<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
		
		<title>Academy</title>
	</head>
	<body>
		<h1 th:text="${msg}"></h1>
		<p>Olá, Mundo!</p>
		
		<button class="btn btn-primary">Teste</button>
		
		<script src="/webjars/jquery/3.6.1/jquery.min.js"></script>
		<script src="/webjars/bootstrap/js/bootstrap.min.js"></scripts>
	</body>
</html>